In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("NAICS_Linkedin_industry_codes_v2.xlsx")

In [3]:
df['NAICS Label from US Census'] = df['NAICS Label from US Census'].fillna(df['Label'])

In [4]:
df['Label'] = df['Label'].replace({
    'Personal Care Product Manufacturing': 'Cosmetics Manufacturing',
    'Climate Technology Product Manufacturing': 'Climate Technology Products Manufacturing',
    'Leasing Real Estate': 'Real Estate',
    'Leasing Real Estate Agents and Brokers': 'Real Estate Agents and Brokers',
    'Accomodation Services': 'Accommodation Services'
})

In [5]:
additional_row = {
    'NAICS Label from US Census': [np.nan] * 12,
    'NAICS 2017 code': [np.nan] * 12,
    'LinkedIn Industry Code': [np.nan] * 12,
    'Label': ['Horticulture', 'Fuel Cell Manufacturing', 'Accessible Hardware Manufacturing', 'Smart Meter Manufacturing', 'Alternative Fuel Vehicle Manufacturing', 'Regenerative Design', 'Alternative Dispute Resolution', 'Business Intelligence Platforms', 'Business Content', 'Data Security Software Products', 'Retail Cosmetics', 'Wholesale Cosmetics']
}

In [6]:
df = pd.concat([df, pd.DataFrame(additional_row)], ignore_index=True)

In [7]:
resource = pd.read_json("DeepSales_industry_resource_v2.json")

In [8]:
ind_to_id = resource.set_index('industry')['linkedinID'].to_dict()

In [9]:
ind_to_desc = resource.set_index('industry')['Desc'].to_dict()

In [10]:
df['LinkedIn Industry Code'] = df['Label'].map(ind_to_id)

In [11]:
df.columns = ['NAICS_Label_from_US_Census', 'NAICS_2017_Code', 'DeepSales_Industry_Code', 'Label']

In [12]:
df.to_excel("NAICS_DeepSales_industry_codes_v2.xlsx", index=False)

In [13]:
df = pd.read_excel("NAICS_DeepSales_industry_codes_v2.xlsx")

In [14]:
df['NAICS_Label_from_US_Census'].fillna(df['Label'], inplace=True)

/var/folders/s5/yyt01y4d3bvdnbhwztx46vhr0000gn/T/ipykernel_94337/4157387047.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['NAICS_Label_from_US_Census'].fillna(df['Label'], inplace=True)

In [15]:
df.drop_duplicates(subset=['NAICS_Label_from_US_Census', 'Label'], keep='first', inplace=True)

In [16]:
df = df[['NAICS_Label_from_US_Census', 'Label']]

In [17]:
df.columns = ['sub_industry', 'industry']

In [18]:
df['description'] = df['industry'].map(ind_to_desc)

In [19]:
df = df[['industry', 'description', 'sub_industry']]

In [20]:
df

,industry,description,sub_industry
0,"Farming, Ranching, Forestry",This industry includes entities that grow crop...,"Agriculture, Forestry, Fishing and Hunting"
1,Farming,This industry includes entities that grow crop...,Crop Production
2,Ranching and Fisheries,This industry includes entities that raise or ...,Animal Production and Aquaculture
3,Forestry and Logging,This industry includes entities that grow and ...,Forestry and Logging
4,"Farming, Ranching, Forestry",This industry includes entities that grow crop...,"Fishing, Hunting and Trapping"
...,...,...,...
2259,Business Intelligence Platforms,This industry includes entities that provide c...,Business Intelligence Platforms
2260,Business Content,This industry includes entities that provide n...,Business Content
2261,Data Security Software Products,This industry includes entities that produce s...,Data Security Software Products
2262,Retail Cosmetics,This industry includes entities that retail pe...,Retail Cosmetics
2263,Wholesale Cosmetics,This industry includes entities that distribut...,Wholesale Cosmetics

In [21]:
df.to_csv("sub_industry.csv", index=False)